body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px;
}
* {
	text-decoration: none;
	list-style: none;
}
.button {
	border-radius: 2px;
	padding: 10px 20px;
	color: white;
}
.button:hover {
  filter: brightness(85%);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/* Header Styling */
nav {
	background-color: #b71c1c;
}
nav ul li a {
	color: white;
	font-weight: 500;
	transition: .4s;
}
nav ul li a:hover {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 8px lightgrey;
	transition: .4s;
}
nav hr {
	border-color: darkgrey;
	display: none;
}
.navbar img {
	height: 64px;
}
.nav-item {
	margin-right: 12px;
}
.navbar-toggler {
	color: #b71c1c;
	padding: 6px 10px;
	background-color: white;
	transition: .4s;
}
.navbar-toggler:hover {
	color: white;
	padding: 6px 10px;
	background-color: #b71c1c;
	border: 1px solid white;
	transition: .4s;
}
.social li {
	margin: 0 12px;
}
@media only screen and (max-width: 1009px) and (min-width: 992px) {
	.navbar img {
		height: 56px!important;
	}
	.nav-item {
		margin-right: 4px!important;
		font-size: 0.8rem!important;
	}
}
@media only screen and (max-width: 992px) {
	nav hr {
		display: block!important;
	}
	.nav-item {
		padding-left: 16px!important;
		padding-bottom: 8px!important;
	}
	.navbar-nav {
		margin-bottom: 24px!important;
	}
	.social {
		display: table-row!important;
	}
	.social li {
		display: table-cell!important;
		padding: 0 16px 8px 16px!important;
	}
}

/* Main Content */
.main .container {
	padding: 40px 24px;
}
.container h2, p {
	text-align: center;
}
.main .col-md-5 {
	box-shadow: 1px 1px 8px lightgrey;
	border-radius: 4px;
	padding-bottom: 24px;
}
.main .col-md-5 p {
	margin: 56px 8px 32px 16px;
	text-align: left;
}
@media only screen and (max-width: 550px) {
	.main h2 {
		font-size: 1.2rem!important;
	}
	.main p {
		font-size: 0.8rem!important;
	}
	.content h4 {
		font-size: 1.2rem!important;
		padding: 24px 32px!important;
	}
	.content p {
		font-size: 0.9rem!important;
	}
	.main .container {
		padding: 40px 24px!important;
	}
}
.main .content {
	margin-top: 72px;
}
.main .col-md-5 h4 {
	font-weight: normal;
	border-radius: 2px;
	box-shadow: 1px 1px 24px lightgrey;
	text-align: center;
	background-color: #82b1ff;
	color: white;
	padding: 32px 40px;
	max-width: 400px;
	margin-top: -32px;
	margin-left: auto;
	margin-right: auto;
}
.content .col-md-5, .content .col-md-7 {
	margin-bottom: 24px;
}
form .row {
	margin-bottom: 40px;
}
form input, textarea {
	border: 0!important;
	border-bottom: 1px solid #ced4da!important;
}
form i {
	margin-top: 8px;
	font-size: 1.4rem;
}
.form-btn {
	color: white;
	background-color: #82b1ff;
	padding: 14px 24px;
	border-radius: 2px;
}
.form-btn:hover {
	color: white;
	box-shadow: 1px 1px 8px lightgrey;
	text-decoration: none;
}
.form-btn-wrap {
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}
iframe {
	box-shadow: 1px 1px 16px lightgrey;
	height: 560px;
	width: 100%;
}
@media only screen and (max-width: 480px) {
	iframe {
		height: 400px!important;
	}
}
@media only screen and (max-width: 767px) {
	form i {
		display: none!important;
	}
}

/* Footer Styling */
footer {
	text-align: center;
	background-color: #1d2d50;
	color: #f4f3f3;
}
footer .container {
	padding:40px 24px;
}
footer i {
	font-size: 64px;
	color: orange;
}
footer .col {
	padding: 0;
}
footer .button:hover {
	filter: brightness(95%);
	color: white;
	text-decoration: none;
}
.copyright {
	background-color: #16213e;
	margin: 0;
	padding: 20px 24px;
	border-top: 2px solid rgba(0,0,0,0.4);
}
.copyright a {
	color: #f4f3f3;
}
.wel-left {
	background-color: #3282b8;
	margin-right: 8px;
}
.wel-right {
	background-color: #fcbf1e;
	margin-left: 8px;
}

@media only screen and (max-width: 591px) and (min-width: 451px) {
	footer i {
		font-size: 56px!important;
	}
	footer h1 {
		font-size: 1.4rem!important;
	}
	footer h5 {
		font-size: 1.1rem!important;
	}
	.copyright {
		font-size: 0.8rem!important;
	}
}
@media only screen and (max-width: 450px) {
	footer i {
		font-size: 56px!important;
	}
	footer h1 {
		font-size: 1.4rem!important;
	}
	footer h5 {
		font-size: 1.1rem!important;
	}
	.copyright {
		font-size: 0.6rem!important;
	}
}
@media only screen and (max-width: 591px) {
	.button {
	    font-size: 0.8rem!important;
	}
}
