body, html {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}
.fa-bars {
	display: none;
	color: white;
	position: absolute;
	right: 24px;
}

header {
	background-color: #b71c1c;
	font-weight: 500;
	box-shadow: 1px 1px 10px black;
	position: fixed;
  	top: 0;
  	width: 100%;
}
.links a {
	text-shadow: 1px 1px 5px darkgray;
}
a {
	color: white;
	text-decoration: none;
	justify-content: center;
	margin: 4px;
}
a:hover {
	text-decoration: underline;
	text-shadow: none;
}
.links {
	margin-left: 8px;
}
.header-container {
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.header-container img {
	height: 72px;
	margin: 8px;
}
.social-links {
	margin-left: auto;
	order: 2;
	color: white;
}
.social-links i {
	margin: 4px;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.button {
	padding: 10px 24px;
	border-radius: 2px;
	text-shadow: 2px 2px 40px white;
	margin: 4px;
}

.blurb-row {
	margin-top: 40px;
}
.blurb {
	width: 30%;
	text-align: center;
	display: inline-table;
	margin-top: 16px;
}
.blurb img {
	height: 160px;
	border-radius: 4px;
	box-shadow: 1px 1px 8px lightgrey;
}

footer {
	background-color: #1d2d50;
	text-align: center;
	color: white;
	padding: 24px;
	padding-bottom: 56px;
}
.footer {
	background-color: #16213e;
	margin: 0;
	color: white;
	text-align: center;
	padding: 16px;
	border-top: 2px solid rgba(0,0,0,0.4);
}
.fa-graduation-cap {
	color: orange;
	font-size: 60px;
}

.main {
	margin-top: 140px;
	margin-bottom: 80px;
	text-align: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
